/node_modules
/public/hot
/public/storage
/public/images
/public/uploads
/storage/*.key
/storage/logs/*
/storage/*
!/storage/images

/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
composer.lock
package-lock.json

.docker/data/db/*
!.docker/data/db/.gitkeep
.docker/data/redis/*
.docker/data/redis/dump.rdb
!.docker/data/redis/.gitkeep
.docker/laravel-echo/node_modules
.docker/laravel-echo/logs/*

# ignore frontend built files
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/css/app.css
/public/mix-manifest.json

logs/**/*[.log, .pid]
.idea/
.env
.DS_Store