#modalDeposit .deposit_text {
    color: #ffffff;
    text-align: center;
    line-height: 18px;
}

#modalWithdraw .withdraw_note {
    width: 100%;
    color: #ffffff;
}

#wallet .boxWalletAddress {
    flex-direction: row;
    align-content: space-around;
}

#wallet .boxWalletAddress span {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

#wallet .boxWalletAddress input {
    width: 90%;
}

#wallet .blockClick {
    pointer-events: none;
    opacity: .5;
}

